body{
    background-color:black;
    color: white;
}



.cardapio{
    background-color: white;
    margin-right: 70%;
    color: black;
    text-align: center;
    
}

.cabecalho{
    padding: -100px;
    margin-right: 70%;
    text-align: center;
    background-color: pink;
    color: black;
    margin-bottom: -22px;
    border: 0px;
}